{% extends 'base.html' %}

{% block hash %}
  <div id="blockchain-container" class="blockchain-container">
    <a href="/href">
      <span>Hash</span>
    </a>
    <div class="blockchain-container__element">
      <label for="blockchain__data">data</label>
      <textarea id="blockchain__data" class="blockchain-container__input" cols="64" autofocus="true" wrap="soft"></textarea>
    </div>
    <div class="blockchain-container__element">
      <label for="blockchain__sha256">sha-256</label>
      <textarea id="blockchain__sha256" class="blockchain-container__output" cols="64" disabled="true"></textarea>
    </div>
  </div>

  <script>
    const blockchain__data = document.getElementById('blockchain__data');
    const blockchain__sha256 = document.getElementById('blockchain__sha256');

    blockchain__sha256.textContent = hash(blockchain__data.textContent);

    const update = (event) => {
      blockchain__sha256.textContent = hash(event.target.value);
    };

    blockchain__data.addEventListener('input', update);
    blockchain__data.addEventListener('propertychange', update);
  </script>
{% endblock hash %}
